{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block page-content %}
  
  <h1 align="center">{{ car }} {%trans 'refuels' %}</h1>
  <br>
  <br>

  {% if refuels %}
    <p align="center">
    <a href="{% url 'new_refuel' car.pk %}" class="btn btn-warning">{% trans 'New refuel' %}</a>
    </p>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>{% trans 'Refuel date' %}</th>
          <th>{% trans 'Car mileage' %}</th>
          <th>{% trans 'Liters' %}</th>
          <th>{% trans 'Fuel price' %}</th>
          <th>{% trans 'Total' %}</th>
          <th>{% trans 'Fuel type' %}</th>
          <th>{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for refuel in refuels %}
          <tr>
            <td>{{ refuel.date }}</td>
            <td>{{ refuel.mileage }} Km</td>
            <td>{{ refuel.liters }}</td>
            <td>{{ refuel.fuel_price }}</td>
            <td>{{ refuel.total }}</td>
            <td>{{ refuel.fuel_type }}</td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" 
                      data-target="#confirm_refuel_delete_form_{{refuel.pk}}">              
                {% trans 'Delete refuel' %}
              </button>
              {% include 'refuel/refuel_confirm_delete.html' with refuel=refuel %}

              <a href="{% url 'edit_refuel' refuel.pk %}" class="btn btn-info">              
                {% trans 'Edit refuel' %}
              </a>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><p align="center"><strong> {% trans 'No refuels for this car at the moment.' %}</strong></p></h4>
      <p align="center">
        <a href="{% url 'new_refuel' car.pk %}" class="btn btn-warning">{% trans 'Add one here' %} !</a>
      </p>
    </div>
  {% endif %}

{% endblock %}